# Logs
*.log

# Environment files
.env

# Node dependencies
node_modules/

# Python files
__pycache__/
*.pyc

# Build output
dist/
build/

# Ignore everything in folder except one file
secret/*
!secret/keepme.txt

#Ignore png
*.png

inspectionProfiles/
*.iml
*.xml

/__pycache__/

/.idea/
/reports/
/assets/