node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Python-specific
__pycache__/
*.pyc
.env

# VSCode settings
.vscode/

# OS-generated
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
.html
.idea/
